header {
  padding: 10px;
}

.logo {
  width: 12rem;
  height: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

header .searchArea {
  width: 100%;
  background: yellow;
  border-radius: 3px;
}

header .searchArea input {
  width: 93%;
  padding: 0.5rem;
  border: 0px;
  border-radius: 2px 0px 0px 2px;
  outline: none;
}


.roleMenu {
  display: block;
  width: 100%;
}

summary::-webkit-details-marker {
  display: none;
}

.dotBtn {
  font-size: 24px;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}

.dropdown {
  width: 100%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease,
    opacity 0.4s ease;
}


.roleMenu[open] .dropdown {
  max-height: 500px;
  opacity: 1;
}

.dropdown a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: black;
  text-align: center;
  border-top: 1px solid #eee;
}

.dropdown a:hover {
  background: #f2f2f2;
}