header{
  padding: 10px;
}
.logo{
  width: 12rem;
  height: auto;
}
nav ul{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
header .searchArea{
  width: 100%;
  background: yellow;
  border-radius: 3px;
}
header .searchArea input{
  width: 93%;
  padding: 0.5rem;
  border: 0px;
  border-radius: 2px 0px 0px 2px;
}